.image-canvas-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #282828;
}

.image-canvas {
  display: block;
  cursor: grab;
}

.image-canvas:active {
  cursor: grabbing;
}
